@charset "UTF-8";

:root {
    --manha: rgb(248, 248, 106);
    --tarde: rgb(252, 128, 27);
    --noite: rgb(44, 1, 70);
}


body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
}

#container {
    background-color: rgb(233, 210, 181);
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    margin: auto;
    width: 600px;
    height: 400px;
}

#msg {
    font-size: 2em;
    font-weight: bold
}

#img {

    margin: auto;
    margin-top: 30px;
    height: 300px;
    width: 300px;
    background: center center no-repeat ;
    background-size: cover;
    border-radius: 50%;


}

